<div id="modalDialog" class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">х</button>
            <h4>Удаление книги</h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Удалить</button>
        </div>
    </div>
</div>